<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">ID</div>
    <div class="col-xs-7 col-md-10 text-left">{{cards[index].id}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Rarity</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{getRarity(cards[index].rarity)}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Type</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{initCap(cards[index].type)}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Set</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{getSet(cards[index].set)}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Cost</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{cards[index].cost}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Attack</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{cards[index].attack}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Health</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{cards[index].health}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Text</div><!--
    --><div class="col-xs-7 col-md-10 text-left" ng-bind-html="cards[index].text"></div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Artist</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{cards[index].artist}}</div>
</div>
<div class="row">
    <div class="col-xs-1 hidden-md hidden-lg"></div>
    <div class="col-xs-2 col-md-2 label label-success">Flavor</div><!--
    --><div class="col-xs-7 col-md-10 text-left">{{cards[index].flavor}}</div>
</div>
